<table>
<h3>登録状況</h3>
  <tr>
    <td><b>　合　　計　　</b></td>
    <td><b><%= @total_posts_count %>件　</b></td>
    <td><b><%= number_with_delimiter(@total_posts_amount) %> 円　</b></td>
    <td><%= button_to '詳細', posts_path, method: :get %></td>
  </tr>

  <% @all_users_stats.each do |stat| %>
  <tr>
    <td><%= stat.user_name %></td>
    <td><%= stat.post_count %>件　</td>
    <td><%= number_with_delimiter(stat.post_amount) %> 円　</td>
    <td><%= button_to '詳細', user_path(stat.user_id), method: :get %></td>
  </tr>
  <% end %>
  <tr>
    <td><p></p></td>
  </tr>
  <tr>
    <td colspan='3'><b>集計担当も投稿する</b></td>
    <td><%= button_to '参加', new_post_path, method: :get %></td>
  </tr>

  <tr>
    <td colspan='3'><b>初期画面に戻る</b></td>
    <td><%= button_to '戻る', new_user_path, method: :get %></td>
  </tr>

  <tr>
    <td colspan='3'><b>データをリセットする</b></td>
    <td><%= button_to '削除', reset_database_admin_system_path, method: :post %></td>
  </tr>

</table>
<%= render 'shared/flash' %>
