<h3>登録状況</h3>

<table>
  <tr>
    <td><b>　合　　計　　</b></td>
    <td><b><%= @user_posts.count %>件　</b></td>
    <td><b><%= number_with_delimiter(@user_posts.sum(:amount)) %> 円　</b></td>
    <td><%= button_to '詳細', posts_path, method: :get %></td>
  </tr>
</table>

<table>
  <% @poster_users.each do |poster_user| %>
  <tr>
    <td><%= poster_user.name %></td>
    <td><%= poster_user.posts.count %>件　</td>
    <td><%= number_with_delimiter(poster_user.posts.sum(:amount)) %> 円　</td>
    <td><%= button_to '詳細', user_path(poster_user.id), method: :get %></td>
  </tr>
  <% end %>
  <% @admin_users.each do |admin_user| %>
  <tr>
    <td><%= admin_user.name %></td>
    <td><%= admin_user.posts.count %>件　</td>
    <td><%= number_with_delimiter(admin_user.posts.sum(:amount)) %> 円　</td>
    <td><%= button_to '詳細', user_path(admin_user.id), method: :get %></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <td></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td><b>集計担当も数える　　</b></td>
    <td><%= button_to '　参加　', new_post_path, method: :get %></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td><b>初期画面に戻る　　　</b></td>
    <td><%= button_to '　戻る　', new_user_path, method: :get %></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td><b>データをリセットする</b></td>
    <td><%= button_to 'リセット', reset_database_users_path, method: :post %></td>
  </tr>
</table>
