<table>
<h3>登録状況</h3>
  <tr>
    <td><b>　合計</b></td>
    <td><b><%= @total_posts_count %>件　</b></td>
    <td><b><%= number_with_delimiter(@total_posts_amount) %> 円　</b></td>
    <td><%= button_to '詳細', posts_path, method: :get %></td>
  </tr>

  <% @all_users_stats.each do |stat| %>
  <tr>
    <td><%= stat.user_name %>　</td>
    <td><%= stat.post_count %>件　</td>
    <td><%= number_with_delimiter(stat.post_amount) %> 円　</td>
    <td><%= button_to '詳細', user_path(stat.user_id), method: :get %></td>
  </tr>
  <% end %>
  <tr>
    <td><p></p></td>
  </tr>
  <tr>
    <td colspan='3'><b>集計担当も登録する</b></td>
    <td><%= button_to '登録', new_post_path, method: :get %></td>
  </tr>

  <tr>
    <td colspan='3'><b>招待画面に戻る</b></td>
    <td><%= button_to '招待', new_user_path, method: :get %></td>
  </tr>

  <tr>
    <td colspan='3'><b>最新データに更新する</b></td>
    <td><%= button_to '更新', reload_database_admin_system_path, method: :post %></td>
  </tr>

  <tr>
    <td colspan='3'><b>データをリセットする</b></td>
    <td><%= button_to '再起', reset_database_admin_system_path, method: :post %></td>
  </tr>

  <tr>
    <td colspan='3'><b>作業を終了する</b></td>
    <td><%= button_to '終了', admin_session_path, method: :delete, data: { turbo: false } %></td>
  </tr>

  <tr>
    <td colspan='4'>(終了するとログアウトします)</td>
  </tr>

</table>
<%= render 'shared/flash' %>
