<%= render 'shared/user_info' %><br>
<%= render 'shared/flash' %><br>

<table>
  <tr>
    <th>No.</th>
    <th>氏名</th>
    <th>金額</th>
  </tr>

  <% @posts.each_with_index do |post, index| %>

  <tr>
    <td><%= index + 1 %><%= '　' %></td>
    <td><%= post.name %><%= '　' %></td>
    <td><%= number_with_delimiter(post.amount) %><%= ' 円' %><%= '　' %></td>
    <td><%= button_to '詳細', post_path(post), method: :get %></td>
  </tr>

  <% end %>
</table>

<p></p>

<% if @current_user.name == '集計担当' %>
  <table>
    <tr>
      <td><b>登録状況へ戻る　</b></td>
      <td><%= button_to '状況', users_path, method: :get %></td>
    </tr>
  </table>
<% else %>
  <table>
    <tr>
      <td><b>新規登録へ戻る　</b></td>
      <td><%= button_to '新規', new_post_path, method: :get %></td>
    </tr>
  </table>
<% end %>
