<%= render 'shared/user_info' %>

<%= form_with model: @post do |form| %>

  <div>
    <b><p>登録No. <%= @user_post_index %></p></b>
  </div>

  <table>
    <tr>
      <td><%= form.label :氏名 %></td>
      <td><%= form.text_field :name %></td>
      <td><%= form.label :円 %></td>
    </tr>
    <tr>
      <td><%= form.label :金額 %></td>
      <td><%= form.number_field :amount %></td>
      <td><%= form.label :円 %></td>
    </tr>
    <tr>
      <td><%= form.label :住所 %></td>
      <td><%= form.text_field :address %></td>
    </tr>
    <tr>
      <td><%= form.label :電話 %></td>
      <td><%= form.text_field :tel, pattern: '\d*' %></td>
      <td><%= form.label :数字のみ %></td>
    </tr>
    <tr>
      <td><%= form.label :備考 %></td>
      <td><%= form.text_field :others %></td>
    </tr>
  </table><br>

  <div>
　　　　<%= form.submit '　　　実　行　　　' %>
  </div><br>

<% end %>

<table>
  <tr>
    <td><b>登録詳細へ戻る</b></td>
    <td><%= button_to '詳細', post_path(@post), method: :get %></td>
  </tr>

  <tr>
    <td><b>新規登録へ戻る　</b></td>
    <td><%= button_to '新規', new_post_path, method: :get %></td>
  </tr>
</table>

<% if @user_stats_by_id.user_name == '集計担当' %>

<table>
  <tr>
    <td><b>登録状況へ戻る　</b></td>
    <td><%= button_to '状況', users_path, method: :get %></td>
  </tr>
</table>
<% end %>
