<%= render 'shared/user_info' %><br>
<h3>新規登録</h3>

<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div id='error_explanation'>
      <h3><%= pluralize(@post.errors.count, 'エラー') %>が発生しました:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'shared/flash' %>
  <div>
    <label><%= form.label :name, '氏名' %></label>
    <%= form.text_field :name %>
  </div>
  <div>
    <label><%= form.label :amount, '金額' %></label>
    <%= form.number_field :amount %>
    <span>円</span>
  </div>
  <div>
    <label><%= form.label :address, '住所' %></label>
    <%= form.text_field :address %>
  </div>
  <div>
    <label><%= form.label :tel, '電話' %></label>
    <%= form.text_field :tel, pattern: '\d*' %>
    <span>数字のみ</span>
  </div>
  <div>
    <label><%= form.label :others, '備考' %></label>
    <%= form.text_field :others %>
  </div>
  <div>
　　　<%= form.submit '　　　実　　行　　　' %>
  </div>
  <br>
<% end %>
<table>
  <tr>
    <td><b><%= '集計を確認する' %></b></td>
    <td><%= button_to '確認', user_path(@current_user), method: :get %></td>
  </tr>
  <br>
  <% if @user_stats_by_id.user_name == '集計担当' %>
    <tr>
      <td><b><%= '登録状況へ戻る　' %></b></td>
      <td><%= button_to '状況', users_path, method: :get %></td>
    </tr>
  <% else %>
    <tr>
      <td><b><%= '作業を終了する　' %></b></td>
      <td>
        <%= button_to '終了', session_path(@current_user), method: :delete, data: { turbo: false } %>
      </td>
    </tr>
    <tr>
      <td colspan='3'><%= '(終了するとログアウトします)' %></td>
    </tr>
  <% end %>
</table>
