<%= render 'shared/user_info' %><br>
<%= render 'shared/flash' %><br>
<div>
  <b>登録番号：<%= @user_post_index %></b>
</div>
<table>
  <tr>
    <td>氏名：</td>
    <td><%= @post.name %></td>
  </tr>
  <tr>
    <td>金額</td>
    <td><%= number_to_currency(@post.amount, unit: '円', precision: 0, format: '%n%u') %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @post.address %></td>
  </tr>
  <tr>
    <td>電話</td>
    <td><%= @post.tel %></td>
  </tr>
  <tr>
    <td>備考</td>
    <td><%= @post.others %></td>
  </tr>
</table>
<br>

<table>
    <% if @user_stats_by_id.user_name == @current_user.name %>
      <tr>
        <td><%= '登録を編集する　'%></td>
        <td><%= button_to '編集', edit_post_path(@post), method: :get, data: { turbo: false }, id: "confirm-button-#{@post.id}" %></td>
      </tr>
      <tr>
        <td><%= '登録を削除する　'%></td>
        <td><%= button_to '削除', post_path(@post), method: :delete, data: { turbo: false }, id: "confirm-button-#{@post.id}" %></td>
      </tr>
      <tr>
        <td><%= '集計確認へ戻る　'%></td>
        <td><%= button_to '集計', user_path(@user), method: :get, data: { turbo: false }, id: "confirm-button-#{@user.id}" %></td>
      </tr>
      <tr>
        <td><%= '新規登録へ戻る　'%></td>
        <td><%= button_to '新規', new_post_path, method: :get, data: { turbo: false } %></td></tr>
      </tr>
    <% else %>
      <tr>
        <td><%= '集計確認へ戻る　'%></td>
        <td><%= button_to '集計', user_path(@user), method: :get, data: { turbo: false }, id: "confirm-button-#{@user.id}" %></td>
      </tr>
      <tr>
        <td><%= '登録状況へ戻る　'%></td>
        <td><%= button_to '状況', users_path, method: :get, data: { turbo: false } %></td>
      </tr>
    <% end %>
</table>
